.cover {
  position: relative;
  overflow: hidden;
}

.cover__gradient {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.cover--square .cover__gradient {
  background-image: url("/cover/overlay-square.png");
}

.cover--headliner .cover__gradient {
  background-image: url("/cover/overlay-headliner.png");
}

.cover--twitter .cover__gradient {
  background-image: url("/cover/overlay-twitter.png");
}

.cover--story-instagram .cover__gradient {
  background-image: url("/cover/overlay-story-instagram.png");
}

.cover__title {
  font-size: 34px;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
}

.cover__title--hidden {
  display: none;
}

.cover__logo {
  position: absolute;
  right: 0;
  z-index: 2;
  pointer-events: none;
  color: white;
}

.cover--square .cover__logo {
  width: 383px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 69px;
}

.cover--headliner .cover__logo {
  width: 184px;
  top: 25px;
  left: 25px;
}

.cover--twitter .cover__logo {
  width: 280px;
  left: 50px;
  bottom: 39px;
}

.cover--story-instagram .cover__logo {
  width: 260px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 95px;
}


.cover__content {
  position: absolute;
  z-index: 1;
  bottom: 170px;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  color: white;
  pointer-events: none;
}

.cover--story-instagram .cover__separator {
  display: block;
  width: 250px;
  height: 1px;
  background-color: white;
  margin: 2rem auto;
}
