.cover {
  position: relative;
  overflow: hidden;
}

.cover__gradient {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.cover--square .cover__gradient {
  background-image: url("/cover/overlay-square.png");
}

.cover--twitter .cover__gradient {
  background-image: url("/cover/overlay-twitter.png");
}

.cover__title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 4rem;
  color: white;
  font-size: 30px;
  pointer-events: none;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
}

.cover__title--hidden {
  display: none;
}

.cover__logo {
  position: absolute;
  right: 0;
  z-index: 2;
  pointer-events: none;
  color: white;
}

.cover--square .cover__logo {
  width: 383px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 69px;
}

.cover--twitter .cover__logo {
  width: 280px;
  left: 50px;
  bottom: 39px;
}