{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
    "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}