.draggable-img {
  display: block;
  pointer-events: all;
  cursor: move;
}

.draggable-img--x {
  height: 100%;
}

.draggable-img--y {
  width: 100%;
}

.draggable-img__source {
  pointer-events: none;
  z-index: 0;
  user-select: none;
}

.draggable-img--x .draggable-img__source {
  height: 100%;
}

.draggable-img--y .image__source {
  width: 100%;
}

.draggable-img--cursor-e {
  cursor: e-resize;
}

.draggable-img--cursor-w {
  cursor: w-resize;
}

.draggable-img--cursor-ew {
  cursor: ew-resize;
}

.draggable-img--cursor-n {
  cursor: n-resize;
}

.draggable-img--cursor-s {
  cursor: s-resize;
}

.draggable-img--cursor-ns {
  cursor: ns-resize;
}