.draggable-img {
  display: block;
  pointer-events: all;
  cursor: move;
}

.draggable-img--x {
  height: 100%;
  cursor: ew-resize;
}

.draggable-img--y {
  width: 100%;
  cursor: ns-resize;
}

.draggable-img__source {
  pointer-events: none;
  z-index: 0;
  user-select: none;
}

.draggable-img--x .draggable-img__source {
  height: 100%;
}

.draggable-img--y .image__source {
  width: 100%;
}